@using BibliotekaWeb.Models
@model Book
<form method="post" asp-action="DeleteBookPOST">
    <input asp-for="bookID" hidden />
    <div class="pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete Book</h2>
        </div>
    <h3>Are you sure you want to delete this?</h3>
        @*<div class="mb-3">         
            <label asp-for="bookID" class="form-label" for="readOnlyInput"></label>
            <input asp-for="bookID" class="form-control" id="readOnlyInput" type="text" readonly="">
            
        </div>*@
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" disabled="">
            
        </div>
        <div class="mb-3">
            <label asp-for="Author"></label>
            <input asp-for="Author" class="form-control" disabled="">
           

        </div>
        <div class="mb-3">
            <label asp-for="PublishDate"></label>
            <input asp-for="PublishDate" class="form-control" disabled="">
           

        </div>
        <div class="mb-3">
            <label asp-for="Describe" class="form-label mt-4"></label>
            <textarea class="form-control" id="exampleTextarea" rows="3" input asp-for="Describe" disabled=""></textarea>
            


        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="BookList" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>
@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}


